<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<!-- <html lang="ja" ng-app="myApp"> -->
    
<head>
    <title>動作検証</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all">
    
</head>

<body>
    <header>
        <div id="header_inner">
            <h3>別ウィンドウ表示(動作検証用)</h3>           
        </div>
    </header>

    <script src="js/app.js"></script>
</body>
    
</html>
